server:
  port: 8888

spring:
  cloud:
    gateway:
      routes:
        - id: resource-service
          uri:
            lb://resource-service
          predicates:
            - Path=/resources/**

        - id: song-service
          uri:
            lb://song-service
          predicates:
            - Path=/songs/**
            
        - id: storage-service
          uri:
            lb://storage-service
          predicates:
            - Path=/api/storages/**            

eureka:
  instance:
    prefer-ip-address: true
    metadata-map:
      zone: zone1
  client:
    prefer-same-zone-eureka: true
    register-with-eureka: true
    region: region1
    service-url:
      zone1: http://eureka-server:8761/eureka/
    availability-zones:
      region1: zone1